# Diretório de mídia gerado
media/

# Ambiente virtual
venv/
__pycache__/

# Arquivos de configuração local
local_settings.py
.env

# Arquivos de registro (logs)
*.log

# Arquivos compilados de tradução
*.mo

# Arquivos de cache
__pycache__/
*.pyc
*.pyo
__pycache__/
__pycache__/

# Diretório de arquivos estáticos coletados
staticfiles/

# Arquivos de configuração de IDEs
.idea/
.vscode/

# Arquivos de configuração de sistema
.DS_Store
Thumbs.db
